<a href="https://colab.research.google.com/github/lakshman213/Lakshman/blob/master/Copy_of_Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

Importing the  Python  Pandas

In [0]:
import pandas as pd

Print the version of pandas that has been imported.

In [2]:
print(pd.__version__)

0.25.3

**3.** Print out all the version information of the libraries that are required by the pandas library.

In [0]:
print(pd.show_versions())

In [0]:
import numpy as np

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [0]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
print(df)

**5.** Display a summary of the basic information about this DataFrame and its data.

In [0]:
print(df.info())

In [0]:
print(df.describe())

**6.** Return the first 3 rows of the DataFrame `df`.

In [0]:
df = pd.DataFrame(data, index=labels)

print("first 3 rows of the data frame:")
print(df.iloc[:3])

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [0]:
df = pd.DataFrame(data, index=labels)

print("2 columns of the data frame: 'animal' , 'age' ")

print(df.loc[:, ['animal', 'age']])

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [0]:
df = pd.DataFrame(data, index=labels)

df.ix[[3,4,8], ['animal', 'age']]

**9.** Select only the rows where the number of visits is greater than 3

In [0]:
df[df['visits'] > 3]

**10.** Select the rows where the age is missing, i.e. is `NaN`.

In [0]:
df[df['age'].isnull()]

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [0]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

In [0]:
df[(df['animal'] == 'snake') & (df['age'] < 1)]

In [0]:
df[(df['animal'] == 'dog') & (df['age'] > 2)]

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [0]:
df[df['age'].between(2,4)]

**13.** Change the age in row 'f' to 1.5.

In [0]:
df.loc['f','age']=1.5
print(df)

**14.** Calculate the sum of all visits (the total number of visits).

In [0]:
df['visits'].sum()

**15.** Calculate the mean age for each different animal in `df`.

In [0]:
df.groupby('animal')['age'].mean()

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [0]:
df.loc['k'] = [5.5, 'dog', 'no', 2]
print(df)

In [0]:
df.loc['k'] = [5.5, 'dog', 'no', 2]

df = df.drop('k')
print(df)

**17.** Count the number of each type of animal in `df`.

In [0]:
df['animal'].value_counts()

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [0]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [0]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df['priority']

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [0]:
df['animal'] = df['animal'].replace('snake', 'python')
df['animal']

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [0]:
df = pd.DataFrame(data, index=labels)
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

#***DataFrames: beyond the basics***

Slightly trickier: you may need to combine two or more methods to get the right answer (Difficulty: *medium*) 
 The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
How do you filter out rows which contain the same integer as the row immediately above?

In [0]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

df.loc[df['A'].shift() != df['A']]

**23**.Given a DataFrame of numeric values, say
df = pd.DataFrame(np.random.random(size=(5, 3))) 
a 5x3 frame of float values 
how do you subtract the row mean from each element in the row?

In [0]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

df.sub(df.mean(axis=1), axis=0)

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
Which column of numbers has the smallest sum? Find that column's label.

In [0]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

df.sum().idxmin()

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [0]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

len(df) - df.duplicated(keep=False).sum()

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.
You should return a Series of column labels.

In [0]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
For each *group*, find the sum of the three greatest values

In [0]:
df = pd.DataFrame({'groups': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

df.groupby('groups')['vals'].apply(lambda x: pd.Series(x).nlargest(3).sum())

**28.** A DataFrame has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

In [0]:
df = pd.groupby({'A': (0, 10], (10, 20], (20,30], (30, 40], (40, 50], (50, 60], (60, 70], (70, 80], (80,90]})

df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

# ***DataFrames: harder problems***

**29.** Consider a DataFrame `df` where there is an integer column 'X':
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be `[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]`. Make this a new column 'Y'.

In [8]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

x = (df['X'] != 0).cumsum()
print ("Test1")
print (x) 
y = x != x.shift()
print ("Test2")
print(y) 
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

print(df['Y'])

Test1
0    1
1    2
2    2
3    3
4    4
5    5
6    6
7    6
8    7
9    8
Name: X, dtype: int64
Test2
0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: X, dtype: bool
0    1.0
1    2.0
2    0.0
3    1.0
4    2.0
5    3.0
6    4.0
7    0.0
8    1.0
9    2.0
Name: Y, dtype: float64

In [0]:
df.unstack().sort_values()[-3:].index.tolist()

In [0]:
def replace(group):
    mask = group<0
    group[mask] = group[~mask].mean()
    return group

df.groupby(['grps'])['vals'].transform(replace)

In [0]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})

dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)

print(s)

In [0]:
s[dti.weekday == 2].sum()

In [0]:
s.resample('M', how='mean')

In [0]:
df = df.groupby(pd.TimeGrouper(freq='4M'))

df.set_index('Date').groupby(pd.TimeGrouper('4M')).sum()

s.groupby(pd.TimeGrouper('4M')).idxmax()

In [0]:
pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')

In [0]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})


df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
print(df)

In [0]:
temp = df.From_To.str.split('_', expand=True)
temp.columns = ['From', 'To']
print(temp.columns)

In [0]:
temp['From'] = temp['From'].str.capitalize()
temp['To'] = temp['To'].str.capitalize()

print(temp['From'], temp['To'])

In [0]:
df = df.drop('From_To', axis=1)
df = df.join(temp)

print(df)

In [0]:
df['Airline'] = df['Airline'].str.extract('([a-zA-Z\s]+)', expand=False).str.strip()

print(df['Airline'])

In [0]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})

delays = df['RecentDelays'].apply(pd.Series)

delays.columns = ['delay_{}'.format(n) for n in range(1, len(delays.columns)+1)]

df = df.drop('RecentDelays', axis=1).join(delays)

print(df)

In [0]:
letters = ['A', 'B', 'C']
numbers = list(range(10))

mi = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(np.random.rand(30), index=mi)

print(s)

In [0]:
s.index.is_lexsorted()

In [0]:
s.index.lexsort_depth == s.index.nlevels

In [0]:
s.loc[:, [1, 3, 6]]

In [0]:
s.loc[pd.IndexSlice[:'B', 5:]]

In [0]:
s.loc[slice(None, 'B'), slice(5, None)]

In [0]:
s.sum(level=0)

In [0]:
s.unstack().sum(axis=0)

In [0]:
new_s = s.swaplevel(0, 1)
print(new_s)

In [0]:
new_s.index.is_lexsorted()

In [0]:
new_s = new_s.sort_index()
print(new_s)

In [0]:
print(pd)

In [0]:
conda upgrade --all

In [0]:
df = pd.tools
p = pd.tools.util.cartesian_product([np.arange(X), np.arange(Y)])
df = pd.DataFrame(np.asarray(p).T, columns=['x', 'y'])

In [0]:
X = zeros
Y = mine

df['mine'] = np.random.binomial(1, 0.4, X*Y)
df['zeros'] = np.random.binomial(1, 0.4)

print(df['mine'])

In [0]:
import matplotlib.pyplot as plt
 %matplotlib inline
 plt.style.use('ggplot')

In [0]:
df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})

df.plot.scatter("xs", "ys", color = "Red", marker = "x")

In [0]:
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})

df.plot.scatter("hours_in", "productivity", s = df.happiness * 30, c = df.caffienated)

In [0]:
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })

ax = df.plot.bar("month", "revenue", color = "green")
df.plot.line("month", "advertising", secondary_y = True, ax = ax)
ax.set_xlim((-1,12))

In [0]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))
    
    
    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

In [0]:
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

In [0]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))
    
    
    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

In [0]:
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()
    
df = day_stock_data()
df.head()

In [0]:
df.set_index("time", inplace = True)
agg = df.resample("H").ohlc()
agg.columns = agg.columns.droplevel()
agg["color"] = (agg.close > agg.open).map({True:"green",False:"red"})
agg.head()

In [0]:
plot_candlestick(agg)